In [1]:
import pandas  as pd

## Importing

In [18]:
crypto_news = pd.read_csv("data/crypto_news/all-data.csv", encoding = "ISO-8859-1", header=None)
crypto_news

             0                                                  1
0      neutral  According to Gran , the company has no plans t...
1      neutral  Technopolis plans to develop in stages an area...
2     negative  The international electronic industry company ...
3     positive  With the new production plant the company woul...
4     positive  According to the company 's updated strategy f...
...        ...                                                ...
4841  negative  LONDON MarketWatch -- Share prices ended lower...
4842   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4844  negative  Net sales of the Paper segment decreased to EU...
4845  negative  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]

## Preprocessing

In [20]:
crypto_news.rename(columns={0: "sentiment", 1: "headline"}, inplace=True)
crypto_news.replace({'neutral': 0, 'negative': -1, 'positive': 1})

      sentiment                                           headline
0             0  According to Gran , the company has no plans t...
1             0  Technopolis plans to develop in stages an area...
2            -1  The international electronic industry company ...
3             1  With the new production plant the company woul...
4             1  According to the company 's updated strategy f...
...         ...                                                ...
4841         -1  LONDON MarketWatch -- Share prices ended lower...
4842          0  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843         -1  Operating profit fell to EUR 35.4 mn from EUR ...
4844         -1  Net sales of the Paper segment decreased to EU...
4845         -1  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]

## File saving

In [21]:
crypto_news.to_csv("data/crypto_news/all-data_processed.csv")