# Imports

In [73]:
import pandas as pd
from tqdm import tqdm

In [117]:
user_to_user_time_series = pd.read_csv('KeyWords_New/user_to_user_time_series_All.csv', index_col='Unnamed: 0')

In [118]:
user_to_user_time_series

,dst,src,messages_sent,messages_received,messages_total,contribution_index,start_time_,end_time_,cluster,sentiment_avg,emotionality_avg,complexity_avg
0,a7madness1,a7madness1,1,1,2,0.0,2021-11-07 00:00:00,2021-11-08 00:00:00,C0_C1_C2,NaN,NaN,NaN
1,jrbrodin,aasianbokep2,0,1,1,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,C0_C1_C2,NaN,NaN,NaN
2,mauri_0fficial,aew,0,1,1,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,C0_C1_C2,NaN,NaN,NaN
3,declanjoyce9,aimingtoplease1,0,2,2,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,C0_C1_C2,NaN,NaN,NaN
4,akiramakkuro,akiramakkuro,1,1,2,0.0,2021-11-07 00:00:00,2021-11-08 00:00:00,C0_C1_C2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
390557,nintendofrance,nintendofrance,1,1,2,0.0,2021-11-19 00:00:00,2021-11-20 00:00:00,C5_C6_C9,0.947727,0.392259,8.507692
390558,kthtaexzx,kthtaexzx,1,1,2,0.0,2021-11-19 00:00:00,2021-11-20 00:00:00,C5_C6_C9,0.549364,0.098448,12.211319
390559,15socl,15socl,1,1,2,0.0,2021-11-17 00:00:00,2021-11-18 00:00:00,C5_C6_C9,0.652456,0.121878,8.012346
390560,joao__parker,joao__parker,1,1,2,0.0,2021-11-17 00:00:00,2021-11-18 00:00:00,C5_C6_C9,0.018788,0.212242,5.136730
390561,julienrieutort,julienrieutort,1,1,2,0.0,2021-11-15 00:00:00,2021-11-16 00:00:00,C5_C6_C9,0.976013,0.213775,6.591309

In [119]:
df = user_to_user_time_series.copy()
df = df[df['src'] != df['dst']]

dataframe cols:
Pro src: dst, cluster

# User dataframe

In [120]:
user_dst = df['dst']
user_src = df['src']


user_df = pd.concat([user_dst, user_src], axis=0)
user_df.drop_duplicates(inplace=True)
user_df = user_df.to_frame(name='id')
user_df = user_df.merge(df[['src', 'cluster']], left_on='id', right_on='src')
user_df.rename(columns={'cluster':'cluster_dst'}, inplace=True)
user_df

                    id             src cluster_dst
0             jrbrodin        jrbrodin    C0_C1_C2
1       mauri_0fficial  mauri_0fficial    C0_C1_C2
2       mauri_0fficial  mauri_0fficial    C0_C1_C2
3       mauri_0fficial  mauri_0fficial    C0_C1_C2
4       mauri_0fficial  mauri_0fficial    C0_C1_C2
...                ...             ...         ...
104059    drewdog12380    drewdog12380    C5_C6_C9
104060    teamtambipro    teamtambipro    C5_C6_C9
104061    cherylcasone    cherylcasone    C5_C6_C9
104062   itsjustwill91   itsjustwill91    C5_C6_C9
104063      xorddotcom      xorddotcom    C5_C6_C9

[104064 rows x 3 columns]

In [137]:
clean_df = df[['src', 'dst', 'start_time_', 'cluster']]
clean_df['neighbours'] = 0
clean_df['neighbours_cluster'] = 0
clean_df['neighbours_!cluster'] = 0

clean_df.sort_values(['src', 'start_time_'], inplace=True)
clean_df = clean_df.merge(user_df[['id', 'cluster_dst']], left_on='dst', right_on='id').drop('id', axis=1)
clean_df.rename(columns={'cluster':'cluster_src'}, inplace=True)
clean_df['cluster_equal'] = clean_df['cluster_src'].eq(clean_df['cluster_dst'])
clean_df

C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/169209187.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['neighbours'] = 0
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/169209187.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['neighbours_cluster'] = 0
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/169209187.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['neighbours_!cluster'] = 0
C:\Users\Christian\Documents\coding\anaconda3\envs\coins\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,src,dst,start_time_,cluster_src,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,cluster_equal
0,0000_pg,minui_7,2021-12-12 00:00:00,C5_C6_C9,0,0,0,C5_C6_C9,True
1,0000_pg,minui_7,2021-12-12 00:00:00,C5_C6_C9,0,0,0,C5_C6_C9,True
2,nurealapp,minui_7,2021-12-12 00:00:00,C5_C6_C9,0,0,0,C5_C6_C9,True
3,nurealapp,minui_7,2021-12-12 00:00:00,C5_C6_C9,0,0,0,C5_C6_C9,True
4,000126373b,oh73hh,2021-12-20 00:00:00,C0_C1_C2,0,0,0,C0_C1_C2,True
...,...,...,...,...,...,...,...,...,...
480649,zzzaferrr,ellocobielsaa,2021-11-29 00:00:00,C0_C1_C2,0,0,0,C0_C1_C2,True
480650,zzzneji,peitosdotorao,2021-12-12 00:00:00,C3_C4,0,0,0,C3_C4,True
480651,zzzneji,peitosdotorao,2021-12-12 00:00:00,C3_C4,0,0,0,C5_C6_C9,False
480652,zzzneji,peitosdotorao,2021-12-12 00:00:00,C5_C6_C9,0,0,0,C3_C4,False
480653,zzzneji,peitosdotorao,2021-12-12 00:00:00,C5_C6_C9,0,0,0,C5_C6_C9,True

In [52]:
clean_df['cluster_src'][205065] = 'C3_C4'
clean_df['cluster_src'][334810] = 'C3_C4'

C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/434728042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['cluster_src'][205065] = 'C3_C4'
C:\Users\Christian\Documents\coding\anaconda3\envs\coins\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\Christian\Documents\coding\anaconda3\envs\coins\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/483972392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['cluster_equal'] = clean_df['cluster'].eq(clean_df['cluster_src'])

In [138]:
user = 'zzzneji'
rows = 205065

clean_df[clean_df['src'] == user]

,src,dst,start_time_,cluster_src,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,cluster_equal
480650,zzzneji,peitosdotorao,2021-12-12 00:00:00,C3_C4,0,0,0,C3_C4,True
480651,zzzneji,peitosdotorao,2021-12-12 00:00:00,C3_C4,0,0,0,C5_C6_C9,False
480652,zzzneji,peitosdotorao,2021-12-12 00:00:00,C5_C6_C9,0,0,0,C3_C4,False
480653,zzzneji,peitosdotorao,2021-12-12 00:00:00,C5_C6_C9,0,0,0,C5_C6_C9,True

In [140]:
for index, row in tqdm(clean_df.iterrows(), total=clean_df.shape[0]):
    user = clean_df['src'][rows]
    clean_df['neighbours'][clean_df['src'] == user] = len(clean_df[clean_df['src'] == user])
    clean_df.loc[(clean_df['cluster_equal'] == True) & (clean_df['src'] == user), 'neighbours_cluster'] = len(clean_df[clean_df['cluster_equal'] == True][clean_df['src'] == user])
    clean_df.loc[(clean_df['cluster_equal'] == False) & (clean_df['src'] == user), 'neighbours_!cluster'] = len(clean_df[clean_df['cluster_equal'] == False][clean_df['src'] == user])

  0%|                                                                                                                                                                                                                                                                                       | 0/480654 [00:00<?, ?it/s]C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/774112924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['neighbours'][clean_df['src'] == user] = len(clean_df[clean_df['src'] == user])
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/774112924.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df.loc[(clean_df['cluster_equal'] == True) & (clean_df['src'] == user), 'neighbours_cluster'] = len(clean_df[clean_df['cluster_equal'] == True][clean_df['src'] == user])
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/774112924.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df.loc[(clean_df['cluster_equal'] == False) & (clean_df['src'] == user), 'neighbours_!cluster'] = len(clean_df[clean_df['cluster_equal'] == False][clean_df['src'] == user])
  0%|                                                                                                                                                                                                                                                                           | 60/480654 [00:30<67:21:15,  1.98it/s]

KeyboardInterrupt:

In [141]:
clean_df_sample = clean_df.sample(frac=0.01)

In [144]:
for index, row in tqdm(clean_df_sample.iterrows(), total=clean_df_sample.shape[0]):
    user = clean_df_sample['src'][index]
    clean_df_sample['neighbours'][clean_df_sample['src'] == user] = len(clean_df_sample[clean_df_sample['src'] == user])
    clean_df_sample.loc[(clean_df_sample['cluster_equal'] == True) & (clean_df_sample['src'] == user), 'neighbours_cluster'] = len(clean_df_sample[clean_df_sample['cluster_equal'] == True][clean_df_sample['src'] == user])
    clean_df_sample.loc[(clean_df_sample['cluster_equal'] == False) & (clean_df_sample['src'] == user), 'neighbours_!cluster'] = len(clean_df_sample[clean_df_sample['cluster_equal'] == False][clean_df_sample['src'] == user])

  0%|                                                                                                                                                                                                                                                                                         | 0/4807 [00:00<?, ?it/s]C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/735557634.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df_sample['neighbours'][clean_df_sample['src'] == user] = len(clean_df_sample[clean_df_sample['src'] == user])
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/735557634.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df_sample.loc[(clean_df_sample['cluster_equal'] == True) & (clean_df_sample['src'] == user), 'neighbours_cluster'] = len(clean_df_sample[clean_df_sample['cluster_equal'] == True][clean_df_sample['src'] == user])
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_14404/735557634.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df_sample.loc[(clean_df_sample['cluster_equal'] == False) & (clean_df_sample['src'] == user), 'neighbours_!cluster'] = len(clean_df_sample[clean_df_sample['cluster_equal'] == False][clean_df_sample['src'] == user])
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4807/4807 [02:08<00:00, 37.33it/s]

In [154]:
clean_df_sample[clean_df_sample['src'] == 'olanypekunibna1']

,src,dst,start_time_,cluster_src,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,cluster_equal
361124,olanypekunibna1,ediomo16181218,2021-11-07 00:00:00,C0_C1_C2,2,0,1,C5_C6_C9,False
361134,olanypekunibna1,ediomo16181218,2021-11-07 00:00:00,C5_C6_C9,2,1,0,C5_C6_C9,True

In [155]:
clean_df_sample

,src,dst,start_time_,cluster_src,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,cluster_equal
5280,bou128,sol_student_sol,2021-12-26 00:00:00,C0_C1_C2,1,1,0,C0_C1_C2,True
411586,hillieiou,shakil46887612,2021-11-29 00:00:00,C3_C4,1,1,0,C3_C4,True
38863,morgan44806984,sportsthread,2021-12-21 00:00:00,C5_C6_C9,1,1,0,C5_C6_C9,True
136522,boenasvoabo,rwmalonemd,2021-11-29 00:00:00,C0_C1_C2,2,2,0,C0_C1_C2,True
92564,slade7714,this_vid,2021-11-07 00:00:00,C0_C1_C2,4,4,0,C0_C1_C2,True
...,...,...,...,...,...,...,...,...,...
306685,sakthimjs8,sai_pallavi92,2021-12-12 00:00:00,C0_C1_C2,1,1,0,C0_C1_C2,True
255874,declanjoyce9,aimingtoplease1,2021-11-07 00:00:00,C0_C1_C2,1,1,0,C0_C1_C2,True
128105,lobovaldavia,sandraquemasda,2021-11-14 00:00:00,C5_C6_C9,1,1,0,C5_C6_C9,True
304126,betomendeieiev,dory_2013,2021-12-21 00:00:00,C3_C4,1,1,0,C3_C4,True
314096,cryptoff45,lastarcrypto,2021-12-12 00:00:00,C0_C1_C2,2,2,0,C0_C1_C2,True

In [18]:
#user_df.rename(columns={'id':'cat_id'}, inplace=True)
#user_df

In [25]:
user_df['cat_id'] = user_df.id.astype('category').cat.codes
user_df.to_csv('user_df.csv')

# Adjacency Matrix

x-axis = dst

y-axis = src

z-axis = time_series

In [20]:
# build adj_mat construct
# adj_mat_df = user_df.copy()
adj_mat_df = user_df[['cat_id']].copy()
adj_mat_df.set_index("cat_id", inplace=True)

# transpose
adj_mat_df_cols = adj_mat_df.transpose()

del adj_mat_df

adj_mat_df_cols["name"] = user_df["cat_id"]
adj_mat_df_cols.set_index('name', inplace=True)

In [21]:
del df, adj_mat_df, user_to_user_time_series

NameError: name 'df' is not defined

In [22]:
#adj_mat_df_cols.drop('name', axis=1, inplace=True)
adj_mat_df_cols

cat_id,28821,35544,15179,39679,10365,30025,60195,53846,18582,9212,...,30917,48562,11428,53935,2293,16805,53507,11339,26445,58978
name,,,,,,,,,,,,,,,,,,,,,
28821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
adj_mat_df_cols.to_feather('adjacency_matrix.feather')

ImportError: Missing optional dependency 'pyarrow'.  Use pip or conda to install pyarrow.

In [12]:
# with float64
adj_mat_df_cols_sample = adj_mat_df_cols.sample(frac=0.05)

In [13]:
adj_mat_df_cols_sample.fillna(0, inplace=True)

In [15]:
adj_mat_df_cols_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3024 entries, 26749 to 48639
Columns: 60482 entries, 28821 to 58978
dtypes: float64(60482)
memory usage: 1.4 GB

In [76]:
del df
df = adj_mat_df_cols.copy()

i = 0
while i < 100:
    df = df.append(pd.Series(0, index=df.columns.astype(int)).astype(int), ignore_index=True)
    i = i + 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [74]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 101439 entries, 866 to 35091
dtypes: int32(101439)
memory usage: 38.7 MB

## Looping

In [16]:
for i in adj_mat_df_cols_sample.columns:
    try:
        adj_mat_df_cols_sample[[i]] = adj_mat_df_cols_sample[[i]].astype(float).astype(int)
    except:
        pass

KeyboardInterrupt:

In [ ]:
int_df = adj_mat_df_cols_sample.copy()

In [ ]:
int_df

In [ ]:
int_df.info()

In [35]:
user_df["cat_id"]

0           866
1          1897
2          1943
3          2362
4          2588
          ...
115078    75372
115081    22030
115082    68362
115083    64251
115085    35091
Name: cat_id, Length: 101439, dtype: int32