# Imports

In [37]:
import pandas as pd
from tqdm import tqdm

In [38]:
user_to_user_time_series = pd.read_csv('KeyWords_New/user_to_user_time_series_All.csv', index_col='Unnamed: 0')

In [40]:
user_to_user_time_series

,dst,src,messages_sent,messages_received,messages_total,contribution_index,sentiment_avg,emotionality_avg,complexity_avg,start_time_,end_time_,cluster
0,akiramakkuro,akiramakkuro,1,1,2,0.0,0.476229,0.198562,4.098632,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
1,aminulrubi,aminulrubi,1,1,2,0.0,0.836302,0.179346,4.705880,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
2,ammy_sahani,ammy_sahani,1,1,2,0.0,0.846569,0.201374,5.006115,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
3,thakur_shubbu,arunkum74386518,1,0,1,1.0,NaN,NaN,NaN,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
4,brasilnets,basquetetv19,1,0,1,1.0,0.462306,0.191077,7.194311,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
...,...,...,...,...,...,...,...,...,...,...,...,...
554976,isakose25,isakose25,1,1,2,0.0,0.683222,0.115869,7.050421,2021-11-26 00:00:00,2021-11-27 00:00:00,C9
554977,farmingsats,farmingsats,1,1,2,0.0,0.434217,0.149233,5.715495,2021-12-16 00:00:00,2021-12-17 00:00:00,C9
554978,ponce54958,ponce54958,1,1,2,0.0,0.484026,0.144531,9.306861,2021-12-14 00:00:00,2021-12-15 00:00:00,C9
554979,nintendofrance,nintendofrance,1,1,2,0.0,0.947727,0.392259,8.507692,2021-11-19 00:00:00,2021-11-20 00:00:00,C9
554980,kthtaexzx,kthtaexzx,1,1,2,0.0,0.549364,0.098448,12.211319,2021-11-19 00:00:00,2021-11-20 00:00:00,C9

In [41]:
df = user_to_user_time_series.copy()
df = df[df['src'] != df['dst']]

dataframe cols:
Pro src: dst, cluster

In [42]:
df

,dst,src,messages_sent,messages_received,messages_total,contribution_index,sentiment_avg,emotionality_avg,complexity_avg,start_time_,end_time_,cluster
3,thakur_shubbu,arunkum74386518,1,0,1,1.0,NaN,NaN,NaN,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
4,brasilnets,basquetetv19,1,0,1,1.0,0.462306,0.191077,7.194311,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
11,somoscorpade,cinstitutano,1,0,1,1.0,0.262385,0.475229,11.203604,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
12,adistiradirga,corykanexxx,0,1,1,-1.0,NaN,NaN,NaN,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
18,danieldeanwong,echinopsis128,1,0,1,1.0,0.367253,0.173555,8.522448,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
...,...,...,...,...,...,...,...,...,...,...,...,...
554764,liqmahbalz,satoshibles,0,1,1,-1.0,NaN,NaN,NaN,2021-11-28 00:00:00,2021-11-29 00:00:00,C9
554913,remicardinael,cirad,0,1,1,-1.0,NaN,NaN,NaN,2021-12-07 00:00:00,2021-12-08 00:00:00,C9
554915,cirad,remicardinael,1,0,1,1.0,0.476439,0.215063,7.216487,2021-12-07 00:00:00,2021-12-08 00:00:00,C9
554947,elhypercubo,expocoruna,0,1,1,-1.0,NaN,NaN,NaN,2021-11-06 00:00:00,2021-11-07 00:00:00,C9
554951,expocoruna,elhypercubo,1,0,1,1.0,0.939912,0.212340,8.448995,2021-11-06 00:00:00,2021-11-07 00:00:00,C9

# User dataframe

In [43]:
user_dst = df['dst']
user_src = df['src']


user_df = pd.concat([user_dst, user_src], axis=0)

user_df = user_df.to_frame(name='id')
user_df = user_df.merge(df[['src', 'cluster']], left_on='id', right_on='src', how='right')
user_df.rename(columns={'cluster':'cluster_dst'}, inplace=True)
user_df.drop_duplicates(inplace=True)
user_df

                        id              src cluster_dst
0          arunkum74386518  arunkum74386518          C0
6             basquetetv19     basquetetv19          C0
10            cinstitutano     cinstitutano          C0
30             corykanexxx      corykanexxx          C0
32           echinopsis128    echinopsis128          C0
...                    ...              ...         ...
126941776       liqmahbalz       liqmahbalz          C9
126941782   fabian84630991   fabian84630991          C9
126941788       mehrzad_aa       mehrzad_aa          C9
126941792      satoshibles      satoshibles          C9
126941840       expocoruna       expocoruna          C9

[74099 rows x 3 columns]

In [44]:
df.head(2)

,dst,src,messages_sent,messages_received,messages_total,contribution_index,sentiment_avg,emotionality_avg,complexity_avg,start_time_,end_time_,cluster
3,thakur_shubbu,arunkum74386518,1,0,1,1.0,NaN,NaN,NaN,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
4,brasilnets,basquetetv19,1,0,1,1.0,0.462306,0.191077,7.194311,2021-11-07 00:00:00,2021-11-08 00:00:00,C0

In [45]:
clean_df = df[['src', 'dst', 'start_time_', 'cluster', 'messages_sent', 'messages_received', 'messages_total', 
               'contribution_index', 'sentiment_avg', 'emotionality_avg', 'complexity_avg']]
clean_df.rename(columns={'start_time_':'date', 'messages_sent':'mes_sent', 'messages_received':'mes_received',
                         'messages_total':'mes_total', 'contribution_index':'contr_index', 'cluster':'cluster_src', 
                         'emotionality_avg':'emoti_avg', 'complexity_avg':'compl_avg'}, inplace=True)
clean_df['neighbours'] = 0
clean_df['neighbours_cluster'] = 0
clean_df['neighbours_!cluster'] = 0

clean_df.sort_values(['src', 'date'], inplace=True)
clean_df = clean_df.merge(user_df[['id', 'cluster_dst']], left_on='dst', right_on='id', how='left').drop('id', axis=1)
clean_df['cluster_equal'] = clean_df['cluster_src'].eq(clean_df['cluster_dst'])
clean_df

C:\Users\Christian\Documents\coding\anaconda3\envs\coins\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,src,dst,date,cluster_src,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,cluster_equal
0,000126373b,oh73hh,2021-12-20 00:00:00,C2,1,0,1,1.0,NaN,NaN,NaN,0,0,0,C2,True
1,000126373b,oh73hh,2021-12-20 00:00:00,C2,1,0,1,1.0,NaN,NaN,NaN,0,0,0,C7,False
2,000126373b,oh73hh,2021-12-20 00:00:00,C7,1,0,1,1.0,0.159375,0.293872,4.385481,0,0,0,C2,False
3,000126373b,oh73hh,2021-12-20 00:00:00,C7,1,0,1,1.0,0.159375,0.293872,4.385481,0,0,0,C7,True
4,0001_yousef,dogelon_muskk,2021-12-20 00:00:00,C7,1,0,1,1.0,NaN,NaN,NaN,0,0,0,C7,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215975,zzzaferrr,ellocobielsaa,2021-11-29 00:00:00,C0,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,C7,False
215976,zzzneji,peitosdotorao,2021-12-12 00:00:00,C3,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,C3,True
215977,zzzneji,peitosdotorao,2021-12-12 00:00:00,C3,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,C9,False
215978,zzzneji,peitosdotorao,2021-12-12 00:00:00,C9,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,C3,False
215979,zzzneji,peitosdotorao,2021-12-12 00:00:00,C9,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,C9,True

In [36]:
for index, row in tqdm(clean_df.iterrows(), total=clean_df.shape[0]):
    user = clean_df['src'][index]
    clean_df['neighbours'][clean_df['src'] == user] = len(clean_df[clean_df['src'] == user])
    clean_df.loc[(clean_df['cluster_equal'] == True) & (clean_df['src'] == user), 'neighbours_cluster'] = len(clean_df[clean_df['cluster_equal'] == True][clean_df['src'] == user])
    clean_df.loc[(clean_df['cluster_equal'] == False) & (clean_df['src'] == user), 'neighbours_!cluster'] = len(clean_df[clean_df['cluster_equal'] == False][clean_df['src'] == user])

  0%|                                                                                                                                                       | 0/126491 [00:00<?, ?it/s]C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_16764/2600342942.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['neighbours'][clean_df['src'] == user] = len(clean_df[clean_df['src'] == user])
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_16764/2600342942.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df.loc[(clean_df['cluster_equal'] == True) & (clean_df['src'] == user), 'neighbours_cluster'] = len(clean_df[clean_df['cluster_equal'] == True][clean_df['src'] == user])
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_16764/2600342942.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df.loc[(clean_df['cluster_equal'] == False) & (clean_df['src'] == user), 'neighbours_!cluster'] = len(clean_df[clean_df['cluster_equal'] == False][clean_df['src'] == user])
  4%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž                                                                                                                                    | 4823/126491 [20:26<8:35:49,  3.93it/s]

KeyboardInterrupt:

In [47]:
clean_df_sample = clean_df.sample(frac=0.01)

In [48]:
for index, row in tqdm(clean_df_sample.iterrows(), total=clean_df_sample.shape[0]):
    user = clean_df_sample['src'][index]
    clean_df_sample['neighbours'][clean_df_sample['src'] == user] = len(clean_df_sample[clean_df_sample['src'] == user])
    clean_df_sample.loc[(clean_df_sample['cluster_equal'] == True) & (clean_df_sample['src'] == user), 'neighbours_cluster'] = len(clean_df_sample[clean_df_sample['cluster_equal'] == True][clean_df_sample['src'] == user])
    clean_df_sample.loc[(clean_df_sample['cluster_equal'] == False) & (clean_df_sample['src'] == user), 'neighbours_!cluster'] = len(clean_df_sample[clean_df_sample['cluster_equal'] == False][clean_df_sample['src'] == user])

  0%|                                                                                                                                                         | 0/2160 [00:00<?, ?it/s]C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_16764/735557634.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df_sample['neighbours'][clean_df_sample['src'] == user] = len(clean_df_sample[clean_df_sample['src'] == user])
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_16764/735557634.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df_sample.loc[(clean_df_sample['cluster_equal'] == True) & (clean_df_sample['src'] == user), 'neighbours_cluster'] = len(clean_df_sample[clean_df_sample['cluster_equal'] == True][clean_df_sample['src'] == user])
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_16764/735557634.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df_sample.loc[(clean_df_sample['cluster_equal'] == False) & (clean_df_sample['src'] == user), 'neighbours_!cluster'] = len(clean_df_sample[clean_df_sample['cluster_equal'] == False][clean_df_sample['src'] == user])
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2160/2160 [00:44<00:00, 48.95it/s]

In [49]:
clean_df_sample[clean_df_sample['src'] == 'olanypekunibna1']

Empty DataFrame
Columns: [src, dst, date, cluster_src, mes_sent, mes_received, mes_total, contr_index, sentiment_avg, emoti_avg, compl_avg, neighbours, neighbours_cluster, neighbours_!cluster, cluster_dst, cluster_equal]
Index: []

In [50]:
clean_df_sample.sort_index().head(20)

,src,dst,date,cluster_src,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,cluster_equal
98,0_daany,cryptoscoopog,2021-11-14 00:00:00,C0,0,1,1,-1.00,NaN,NaN,NaN,1,0,1,C7,False
206,0samonft,solsantasnft,2021-12-26 00:00:00,C7,1,0,1,1.00,0.544785,0.170538,7.514321,1,1,0,C7,True
470,0xkadeem,solana1kusd,2021-12-12 00:00:00,C2,0,1,1,-1.00,NaN,NaN,NaN,1,0,1,C7,False
528,0xnabs,aridavidpaul,2021-11-07 00:00:00,C2,1,0,1,1.00,NaN,NaN,NaN,1,1,0,C2,True
669,0xstacker,cc_b_33,2021-12-05 00:00:00,C2,0,1,1,-1.00,NaN,NaN,NaN,1,1,0,C2,True
920,110zeeshanali,stellacatrin,2021-12-12 00:00:00,C7,1,0,1,1.00,0.005225,0.324085,6.465367,1,1,0,C7,True
976,1337gp,sandeep39773121,2021-10-31 00:00:00,C7,0,1,1,-1.00,NaN,NaN,NaN,1,1,0,C7,True
1126,1998o218,sol_re218,2021-10-31 00:00:00,C5,0,1,1,-1.00,NaN,NaN,NaN,1,1,0,C5,True
1144,1_altcoin,billym2k,2021-11-14 00:00:00,C7,1,0,1,1.00,0.748741,0.241602,6.141736,1,1,0,C7,True
1170,1andreclarindo,furkan_tanerr,2021-12-21 00:00:00,C9,0,1,1,-1.00,NaN,NaN,NaN,1,1,0,C9,True
1201,1centshiboshi,1zombywoof,2021-11-07 00:00:00,C7,0,3,3,-1.00,NaN,NaN,NaN,1,1,0,C7,True
1325,1q2s3d4r,mariela19560482,2021-11-07 00:00:00,C7,1,0,1,1.00,0.999462,0.483623,4.963460,1,1,0,C7,True
1477,21_milioni,erychka77girl,2021-11-28 00:00:00,C7,0,1,1,-1.00,NaN,NaN,NaN,1,1,0,C7,True
1485,21millionman,eroawardbtc,2021-12-12 00:00:00,C2,0,1,1,-1.00,NaN,NaN,NaN,1,1,0,C2,True
1578,2balllikemike,floki_pup,2021-11-07 00:00:00,C7,1,0,1,1.00,0.576306,0.101698,4.919928,1,1,0,C7,True
1870,3scapephotos,lawnchair_pilot,2021-11-05 00:00:00,C6,1,2,3,-0.33,0.992619,0.294719,7.148513,1,1,0,C6,True
1936,43hasankara,orhnrck,2021-12-26 00:00:00,C7,1,0,1,1.00,NaN,NaN,NaN,1,1,0,C7,True
1982,4_dctr,[twitter_query=sol],2021-11-14 00:00:00,C7,3,3,6,0.00,0.984996,0.496701,6.069576,1,1,0,C7,True
2167,5000spacealien1,nfterrybain,2021-11-14 00:00:00,C6,0,2,2,-1.00,NaN,NaN,NaN,1,1,0,C6,True
2178,528btc,gemini,2021-12-26 00:00:00,C7,1,0,1,1.00,0.562821,0.099574,4.556913,1,1,0,C7,True

In [18]:
#user_df.rename(columns={'id':'cat_id'}, inplace=True)
#user_df

In [25]:
user_df['cat_id'] = user_df.id.astype('category').cat.codes
user_df.to_csv('user_df.csv')

# Adjacency Matrix

x-axis = dst

y-axis = src

z-axis = time_series

In [20]:
# build adj_mat construct
# adj_mat_df = user_df.copy()
adj_mat_df = user_df[['cat_id']].copy()
adj_mat_df.set_index("cat_id", inplace=True)

# transpose
adj_mat_df_cols = adj_mat_df.transpose()

del adj_mat_df

adj_mat_df_cols["name"] = user_df["cat_id"]
adj_mat_df_cols.set_index('name', inplace=True)

In [21]:
del df, adj_mat_df, user_to_user_time_series

NameError: name 'df' is not defined

In [22]:
#adj_mat_df_cols.drop('name', axis=1, inplace=True)
adj_mat_df_cols

cat_id,28821,35544,15179,39679,10365,30025,60195,53846,18582,9212,...,30917,48562,11428,53935,2293,16805,53507,11339,26445,58978
name,,,,,,,,,,,,,,,,,,,,,
28821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
adj_mat_df_cols.to_feather('adjacency_matrix.feather')

ImportError: Missing optional dependency 'pyarrow'.  Use pip or conda to install pyarrow.

In [12]:
# with float64
adj_mat_df_cols_sample = adj_mat_df_cols.sample(frac=0.05)

In [13]:
adj_mat_df_cols_sample.fillna(0, inplace=True)

In [15]:
adj_mat_df_cols_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3024 entries, 26749 to 48639
Columns: 60482 entries, 28821 to 58978
dtypes: float64(60482)
memory usage: 1.4 GB

In [76]:
del df
df = adj_mat_df_cols.copy()

i = 0
while i < 100:
    df = df.append(pd.Series(0, index=df.columns.astype(int)).astype(int), ignore_index=True)
    i = i + 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [74]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 101439 entries, 866 to 35091
dtypes: int32(101439)
memory usage: 38.7 MB

## Looping

In [16]:
for i in adj_mat_df_cols_sample.columns:
    try:
        adj_mat_df_cols_sample[[i]] = adj_mat_df_cols_sample[[i]].astype(float).astype(int)
    except:
        pass

KeyboardInterrupt:

In [ ]:
int_df = adj_mat_df_cols_sample.copy()

In [ ]:
int_df

In [ ]:
int_df.info()

In [35]:
user_df["cat_id"]

0           866
1          1897
2          1943
3          2362
4          2588
          ...
115078    75372
115081    22030
115082    68362
115083    64251
115085    35091
Name: cat_id, Length: 101439, dtype: int32