# Imports

In [1]:
import pandas as pd
import

In [2]:
user_to_user_time_series = pd.read_csv('KeyWords_New/user_to_user_time_series_All.csv', index_col='Unnamed: 0')

# User dataframe

In [5]:
user_dst = user_to_user_time_series['dst']
user_src = user_to_user_time_series['src']

user_df = pd.concat([user_dst, user_src], axis=0)
user_df.drop_duplicates(inplace=True)
user_df = user_df.to_frame(name='id')

In [6]:
user_df

                    id
0           a7madness1
1             jrbrodin
2       mauri_0fficial
3         declanjoyce9
4         akiramakkuro
...                ...
390546       scamp5050
390549        mary_ac_
390550        goatx16s
390552  arthur_savary1
390554    mech_gangsta

[225002 rows x 1 columns]

# Adjacency Matrix

x-axis = dst

y-axis = src

z-axis = time_series

In [10]:
# build adj_mat construct
# adj_mat_df = user_df.copy()
adj_mat_df = user_df[:int(len(user_df)*0.01)]
adj_mat_df.set_index("id", inplace=True)

# transpose
adj_mat_df_cols = adj_mat_df.transpose()
adj_mat_df_cols["name"] = user_df["id"]
adj_mat_df_cols.set_index('name', inplace=True)

In [17]:
adj_mat_df_cols_filled = adj_mat_df_cols.fillna(int(0))
adj_mat_df_cols_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 225002 entries, a7madness1 to mech_gangsta
Columns: 2250 entries, a7madness1 to mitmeti20619608
dtypes: float64(2250)
memory usage: 3.8+ GB

In [1]:
adj_mat_df_cols_filled

NameError: name 'adj_mat_df_cols_filled' is not defined

## Looping