# Imports

In [34]:
import pandas as pd
from tqdm import tqdm
from pandas_profiling import ProfileReport

In [35]:
user_to_user_time_series = pd.read_csv('KeyWords_New/user_to_user_time_series_All.csv', index_col='Unnamed: 0')

In [36]:
user_to_user_time_series

,dst,src,messages_sent,messages_received,messages_total,contribution_index,sentiment_avg,emotionality_avg,complexity_avg,start_time_,end_time_,cluster
0,akiramakkuro,akiramakkuro,1,1,2,0.0,0.476229,0.198562,4.098632,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
1,aminulrubi,aminulrubi,1,1,2,0.0,0.836302,0.179346,4.705880,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
2,ammy_sahani,ammy_sahani,1,1,2,0.0,0.846569,0.201374,5.006115,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
3,thakur_shubbu,arunkum74386518,1,0,1,1.0,NaN,NaN,NaN,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
4,brasilnets,basquetetv19,1,0,1,1.0,0.462306,0.191077,7.194311,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
...,...,...,...,...,...,...,...,...,...,...,...,...
554976,isakose25,isakose25,1,1,2,0.0,0.683222,0.115869,7.050421,2021-11-26 00:00:00,2021-11-27 00:00:00,C9
554977,farmingsats,farmingsats,1,1,2,0.0,0.434217,0.149233,5.715495,2021-12-16 00:00:00,2021-12-17 00:00:00,C9
554978,ponce54958,ponce54958,1,1,2,0.0,0.484026,0.144531,9.306861,2021-12-14 00:00:00,2021-12-15 00:00:00,C9
554979,nintendofrance,nintendofrance,1,1,2,0.0,0.947727,0.392259,8.507692,2021-11-19 00:00:00,2021-11-20 00:00:00,C9
554980,kthtaexzx,kthtaexzx,1,1,2,0.0,0.549364,0.098448,12.211319,2021-11-19 00:00:00,2021-11-20 00:00:00,C9

In [62]:
df = user_to_user_time_series.copy()
df = df[df['src'] != df['dst']]

dataframe cols:
Pro src: dst, cluster

In [63]:
df

,dst,src,messages_sent,messages_received,messages_total,contribution_index,sentiment_avg,emotionality_avg,complexity_avg,start_time_,end_time_,cluster
3,thakur_shubbu,arunkum74386518,1,0,1,1.0,NaN,NaN,NaN,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
4,brasilnets,basquetetv19,1,0,1,1.0,0.462306,0.191077,7.194311,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
11,somoscorpade,cinstitutano,1,0,1,1.0,0.262385,0.475229,11.203604,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
12,adistiradirga,corykanexxx,0,1,1,-1.0,NaN,NaN,NaN,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
18,danieldeanwong,echinopsis128,1,0,1,1.0,0.367253,0.173555,8.522448,2021-11-07 00:00:00,2021-11-08 00:00:00,C0
...,...,...,...,...,...,...,...,...,...,...,...,...
554764,liqmahbalz,satoshibles,0,1,1,-1.0,NaN,NaN,NaN,2021-11-28 00:00:00,2021-11-29 00:00:00,C9
554913,remicardinael,cirad,0,1,1,-1.0,NaN,NaN,NaN,2021-12-07 00:00:00,2021-12-08 00:00:00,C9
554915,cirad,remicardinael,1,0,1,1.0,0.476439,0.215063,7.216487,2021-12-07 00:00:00,2021-12-08 00:00:00,C9
554947,elhypercubo,expocoruna,0,1,1,-1.0,NaN,NaN,NaN,2021-11-06 00:00:00,2021-11-07 00:00:00,C9
554951,expocoruna,elhypercubo,1,0,1,1.0,0.939912,0.212340,8.448995,2021-11-06 00:00:00,2021-11-07 00:00:00,C9

# User dataframe

In [87]:
nodes_C1 = pd.read_csv('nodes_C1.csv')
nodes_C2 = pd.read_csv('nodes_C2.csv')
nodes_C0 = pd.read_csv('nodes_C0.csv')

node_files = [nodes_C2, nodes_C0]

time_series = nodes_C1.append(node_files, ignore_index=True)
time_series

,id,friends_count,favourites_count,name,followers_count,listed_count,twitter_query,statuses_count,original_dataset,cluster
0,0bayra0,684,2387,BayRA,87,1,LINK,1208,LINK_1031_1107_1104_1128_1205_1212_1219_1226_a...,cluster_1
1,0xbanana,6023,120443,banana,15183,251,SOL,36329,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,cluster_1
2,0xm3rlin,0,0,0xMerlin.eth,0,0,ETH2,0,ETH2_1031_1107_1104_1128_1205_1212_1219_1226_a...,cluster_1
3,10kng01,189,12696,„Å™„ÅÑ„ÅÇ„Çã„Çâ„Å®„Åª„Å¶„Å∑,197,3,LINK,6752,LINK_1031_1107_1104_1128_1205_1212_1219_1226_a...,cluster_1
4,19march98,60,326,bella where the hell have you been loca,51,0,SOL,326,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,cluster_1
...,...,...,...,...,...,...,...,...,...,...
380618,loick_83,0,0,Loick,0,0,SOL,0,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,cluster_0
380619,mikayla08111952,0,0,Mikayla,0,0,SOL,0,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,cluster_0
380620,mimoschaeng,0,0,isa‚Åπ,0,0,LINK,0,LINK_1031_1107_1104_1128_1205_1212_1219_1226_a...,cluster_0
380621,tagesschau,0,0,tagesschau,0,0,DOGE,0,DOGE_1031_1107_1104_1128_1205_1212_1219_1226_a...,cluster_0
380622,woye1,0,0,Woye,0,0,LINK,0,LINK_1031_1107_1104_1128_1205_1212_1219_1226_a...,cluster_0

In [43]:
time_series_C0 = pd.read_csv('KeyWords_Final/time_series_C0.csv')
time_series_C1 = pd.read_csv('KeyWords_Final/time_series_C1.csv')
time_series_C2 = pd.read_csv('KeyWords_Final/time_series_C2.csv')
time_series_C3 = pd.read_csv('KeyWords_Final/time_series_C3.csv')
time_series_C4 = pd.read_csv('KeyWords_Final/time_series_C4.csv')
time_series_C5 = pd.read_csv('KeyWords_Final/time_series_C5.csv')
time_series_C6 = pd.read_csv('KeyWords_Final/time_series_C6.csv')
time_series_C7 = pd.read_csv('KeyWords_Final/time_series_C7.csv')
time_series_C8 = pd.read_csv('KeyWords_Final/time_series_C8.csv')
time_series_C9 = pd.read_csv('KeyWords_Final/time_series_C9.csv')

In [44]:
time_files = [time_series_C1, time_series_C2,time_series_C3, time_series_C4, time_series_C5, 
              time_series_C6, time_series_C7, time_series_C8, time_series_C9]
time_series_all = time_series_C0.append(time_files, ignore_index=True)
time_series_all.drop_duplicates(inplace=True)
time_series_all

,id,original_dataset,twitter_query,statuses_count,listed_count,favourites_count,friends_count,followers_count,name,messages_sent,...,in_degree,degree,messages_total,contribution_index,cluster,sentiment_avg,emotionality_avg,complexity_avg,start_time_,end_time_
0,dedandempty,LINK_1031_1107_1104_1128_1205_1212_1219_1226_a...,LINK,3,0,14,2,0,Who Cares,1,...,2,5,2,0.00,cluster_0,0.501892,0.161197,2.872360,2021-11-29 00:00:00,2021-11-30 00:00:00
1,hyusepeacy,SHIB_1031_1107_1104_1128_1205_1212_1219_1226_a...,SHIB,1924,0,885,537,26,hyusepeacy,2,...,4,10,4,0.00,cluster_0,0.956680,0.288788,6.927367,2021-12-21 00:00:00,2021-12-22 00:00:00
2,creammystick,LINK_1031_1107_1104_1128_1205_1212_1219_1226_a...,LINK,2495,13,357,1817,8495,1,1,...,2,5,2,0.00,cluster_0,0.801907,0.219013,4.923130,2021-11-07 00:00:00,2021-11-08 00:00:00
3,ismihanisik,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,SOL,118128,7,434130,7670,12611,ƒ∞smihan I≈üƒ±k,2,...,3,7,6,-0.33,cluster_0,0.547612,0.270017,8.642351,2021-11-29 00:00:00,2021-11-30 00:00:00
4,nulidejacky,LINK_1031_1107_1104_1128_1205_1212_1219_1226_a...,LINK,59572,9,51932,412,812,"üêºaudrey, the ËäùÂ£´Á´πÂñÑË¥ùüßÄüéãüêö",1,...,2,6,2,0.00,cluster_0,0.923552,0.219948,5.964923,2021-12-26 00:00:00,2021-12-27 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394444,inkya_deth,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,SOL,16011,12,7130,344,391,„ÅÇ„Çä„Åô,1,...,2,5,2,0.00,cluster_9,NaN,NaN,NaN,2021-11-29 00:00:00,2021-11-30 00:00:00
394445,_itsdany,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,SOL,67679,108,117243,475,3309,Dani,1,...,2,5,2,0.00,cluster_9,0.000560,0.320376,9.557009,2021-11-29 00:00:00,2021-11-30 00:00:00
394446,terecityx,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,SOL,3303,0,2006,802,241,tere go bigwin,2,...,3,9,4,0.00,cluster_9,0.519564,0.233097,4.871419,2021-11-29 00:00:00,2021-11-30 00:00:00
394447,marcoberratti,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,SOL,11860,17,1063,207,2208,·¥ça Ä·¥Ñ√∏.,1,...,3,5,3,-0.33,cluster_9,0.445461,0.240622,10.170445,2021-12-12 00:00:00,2021-12-13 00:00:00
394448,solanalrc,SOL_1031_1107_1104_1128_1205_1212_1219_1226_an...,SOL,2,4,2,18,9016,$LRC | SOLANA LABRADOR RETRIEVER COIN,1,...,5,7,6,-0.67,cluster_9,0.916700,0.183625,6.752462,2021-12-12 00:00:00,2021-12-13 00:00:00

In [45]:
user_dst = df['dst']
user_src = df['src']


user_df = pd.concat([user_dst, user_src], axis=0)

user_df = user_df.to_frame(name='id')
user_df = user_df.merge(df[['src', 'cluster']], left_on='id', right_on='src', how='right')
user_df.rename(columns={'cluster':'cluster_dst'}, inplace=True)
user_df.drop_duplicates(inplace=True)
user_df

                        id              src cluster_dst
0          arunkum74386518  arunkum74386518          C0
6             basquetetv19     basquetetv19          C0
10            cinstitutano     cinstitutano          C0
30             corykanexxx      corykanexxx          C0
32           echinopsis128    echinopsis128          C0
...                    ...              ...         ...
126941776       liqmahbalz       liqmahbalz          C9
126941782   fabian84630991   fabian84630991          C9
126941788       mehrzad_aa       mehrzad_aa          C9
126941792      satoshibles      satoshibles          C9
126941840       expocoruna       expocoruna          C9

[74099 rows x 3 columns]

In [46]:
user_df = user_df.merge(time_series[['id', 'cluster']], left_on='id', right_on='id', how='left').drop_duplicates()
user_df = user_df_adj.rename(columns={'cluster':'cluster_new_dst'})
user_df['cluster_new_src'] = user_df['cluster_new_dst']

In [47]:
user_df

,id,src,cluster_dst,cluster_new_dst,cluster_new_src
0,arunkum74386518,arunkum74386518,C0,NaN,NaN
1,basquetetv19,basquetetv19,C0,cluster_3,cluster_3
2,cinstitutano,cinstitutano,C0,NaN,NaN
3,corykanexxx,corykanexxx,C0,cluster_1,cluster_1
4,echinopsis128,echinopsis128,C0,cluster_0,cluster_0
...,...,...,...,...,...
81938,liqmahbalz,liqmahbalz,C9,cluster_3,cluster_3
81939,fabian84630991,fabian84630991,C9,cluster_0,cluster_0
81940,mehrzad_aa,mehrzad_aa,C9,cluster_0,cluster_0
81941,satoshibles,satoshibles,C9,cluster_0,cluster_0
81943,expocoruna,expocoruna,C9,cluster_2,cluster_2

In [74]:
time_series.cluster.unique()

array(['cluster_1', 'cluster_2'], dtype=object)

In [88]:
# adjusted
clean_df = df[['src', 'dst', 'start_time_', 'messages_sent', 'messages_received', 'messages_total', 
               'contribution_index', 'sentiment_avg', 'emotionality_avg', 'complexity_avg']]
clean_df.rename(columns={'start_time_':'date', 'messages_sent':'mes_sent', 'messages_received':'mes_received',
                         'messages_total':'mes_total', 'contribution_index':'contr_index', 
                         'emotionality_avg':'emoti_avg', 'complexity_avg':'compl_avg'}, inplace=True)
clean_df['neighbours'] = 0
clean_df['neighbours_cluster'] = 0
clean_df['neighbours_!cluster'] = 0

clean_df.sort_values(['src', 'date'], inplace=True)
clean_df = clean_df.merge(time_series[['id', 'cluster', 'twitter_query']], left_on='dst', right_on='id', how='left').drop('id', axis=1).rename(columns={'cluster':'cluster_dst', 'twitter_query':'twitter_query_dst'})
clean_df = clean_df.merge(time_series[['id', 'cluster', 'twitter_query']], left_on='src', right_on='id', how='left').drop('id', axis=1).rename(columns={'cluster':'cluster_src', 'twitter_query':'twitter_query_src'})

clean_df['cluster_equal'] = clean_df['cluster_src'].eq(clean_df['cluster_dst'])
clean_df['query_equal'] = clean_df['twitter_query_src'].eq(clean_df['twitter_query_dst'])
clean_df

C:\Users\Christian\Documents\coding\anaconda3\envs\coins\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\Christian\AppData\Local\Temp\ipykernel_1112\3119374692.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['neighbours'] = 0

,src,dst,date,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,twitter_query_dst,cluster_src,twitter_query_src,cluster_equal,query_equal
0,000126373b,oh73hh,2021-12-20 00:00:00,1,0,1,1.0,NaN,NaN,NaN,0,0,0,cluster_2,BTC,cluster_2,BTC,True,True
1,000126373b,oh73hh,2021-12-20 00:00:00,1,0,1,1.0,0.159375,0.293872,4.385481,0,0,0,cluster_2,BTC,cluster_2,BTC,True,True
2,0001_yousef,dogelon_muskk,2021-12-20 00:00:00,1,0,1,1.0,NaN,NaN,NaN,0,0,0,cluster_2,BTC,cluster_2,ETH,True,False
3,0001_yousef,_cryptoshepherd,2021-12-20 00:00:00,1,0,1,1.0,0.061016,0.262393,4.572825,0,0,0,cluster_2,BTC,cluster_2,ETH,True,False
4,0001_yousef,wassieworld,2021-12-26 00:00:00,1,0,1,1.0,0.645656,0.148896,6.264551,0,0,0,cluster_2,BTC,cluster_2,ETH,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187921,zzz_aliaaa,ashwsbreal,2021-12-20 00:00:00,1,0,1,1.0,0.487286,0.419082,5.956730,0,0,0,cluster_2,SOL,cluster_2,BTC,True,False
187922,zzzaaagggaaa,ilomehn,2021-12-05 00:00:00,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,cluster_1,SOL,cluster_2,SOL,False,True
187923,zzzaferrr,ellocobielsaa,2021-11-29 00:00:00,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,cluster_1,SOL,cluster_1,SOL,True,True
187924,zzzneji,peitosdotorao,2021-12-12 00:00:00,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,cluster_1,SOL,cluster_1,SOL,True,True
187925,zzzneji,peitosdotorao,2021-12-12 00:00:00,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,cluster_1,SOL,cluster_1,SOL,True,True

In [95]:
clean_df[clean_df['cluster_src'] == 'cluster_0']

,src,dst,date,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,twitter_query_dst,cluster_src,twitter_query_src,cluster_equal,query_equal
169,0s_s02,sol_vap01,2021-10-31 00:00:00,0,1,1,-1.0,NaN,NaN,NaN,1,0,1,cluster_1,SOL,cluster_0,SOL,False,True
393,0xkhun,rafaellopesdan1,2021-12-05 00:00:00,0,1,1,-1.0,NaN,NaN,NaN,1,0,1,cluster_2,BTC,cluster_0,BTC,False,True
1245,22ctone,nflredzoneplug,2021-11-14 00:00:00,0,1,1,-1.0,NaN,NaN,NaN,1,0,1,cluster_1,LINK,cluster_0,LINK,False,True
1644,47panagiotis,jei_sol,2021-10-31 00:00:00,2,0,2,1.0,NaN,NaN,NaN,3,0,2,cluster_2,SOL,cluster_0,SOL,False,True
1645,47panagiotis,[twitter_query=sol],2021-10-31 00:00:00,2,2,4,0.0,NaN,NaN,NaN,3,0,2,cluster_2,SOL,cluster_0,SOL,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185229,yeonjiin_,stormyoos,2021-11-14 00:00:00,1,0,1,1.0,0.895434,0.237799,6.350159,0,0,0,cluster_1,LINK,cluster_0,SOL,False,False
185230,yeonjiin_,hvn_sol,2021-12-26 00:00:00,1,1,2,0.0,0.396427,0.207147,10.013861,0,0,0,cluster_2,SOL,cluster_0,SOL,False,True
185231,yeonjiin_,[twitter_query=sol],2021-12-26 00:00:00,1,1,2,0.0,0.396427,0.207147,10.013861,0,0,0,cluster_2,SOL,cluster_0,SOL,False,True
185232,yeonjiin_,official_kep1er,2021-12-26 00:00:00,1,0,1,1.0,0.396427,0.207147,10.013861,0,0,0,cluster_2,SOL,cluster_0,SOL,False,True
186970,zaue_dd,sol_vap01,2021-10-31 00:00:00,0,1,1,-1.0,NaN,NaN,NaN,0,0,0,cluster_1,SOL,cluster_0,SOL,False,True

In [91]:
for index, row in tqdm(clean_df.iterrows(), total=clean_df.shape[0]):
    user = clean_df['src'][index]
    clean_df.loc[(clean_df['src'] == user, 'neighbours')] = len(clean_df[clean_df['src'] == user])
    clean_df.loc[(clean_df['cluster_equal'] == True) & (clean_df['src'] == user), 'neighbours_cluster'] = len(clean_df.loc[((clean_df['cluster_equal'] == True) & (clean_df['src'] == user))])
    clean_df.loc[(clean_df['cluster_equal'] == False) & (clean_df['src'] == user), 'neighbours_!cluster'] = len(clean_df.loc[((clean_df['cluster_equal'] == False) & (clean_df['src'] == user))])

 54%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñã                                                                                                                        | 101616/187926 [4:36:47<3:55:06,  6.12it/s]

KeyboardInterrupt:

In [65]:
clean_df

,src,dst,date,cluster_src,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,neighbours_cluster,neighbours_!cluster,cluster_dst,cluster_equal
0,000126373b,oh73hh,2021-12-20 00:00:00,C2,1,0,1,1.0,NaN,NaN,NaN,4,2,0,C2,True
1,000126373b,oh73hh,2021-12-20 00:00:00,C2,1,0,1,1.0,NaN,NaN,NaN,4,0,2,C7,False
2,000126373b,oh73hh,2021-12-20 00:00:00,C7,1,0,1,1.0,0.159375,0.293872,4.385481,4,0,2,C2,False
3,000126373b,oh73hh,2021-12-20 00:00:00,C7,1,0,1,1.0,0.159375,0.293872,4.385481,4,2,0,C7,True
4,0001_yousef,dogelon_muskk,2021-12-20 00:00:00,C7,1,0,1,1.0,NaN,NaN,NaN,11,10,0,C7,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215975,zzzaferrr,ellocobielsaa,2021-11-29 00:00:00,C0,0,1,1,-1.0,NaN,NaN,NaN,2,0,1,C7,False
215976,zzzneji,peitosdotorao,2021-12-12 00:00:00,C3,0,1,1,-1.0,NaN,NaN,NaN,4,2,0,C3,True
215977,zzzneji,peitosdotorao,2021-12-12 00:00:00,C3,0,1,1,-1.0,NaN,NaN,NaN,4,0,2,C9,False
215978,zzzneji,peitosdotorao,2021-12-12 00:00:00,C9,0,1,1,-1.0,NaN,NaN,NaN,4,0,2,C3,False
215979,zzzneji,peitosdotorao,2021-12-12 00:00:00,C9,0,1,1,-1.0,NaN,NaN,NaN,4,2,0,C9,True

In [66]:
clean_df.to_csv('Adjacency_Matrix_Output.csv')

In [47]:
clean_df_sample = clean_df.sample(frac=0.01)

In [60]:
for index, row in tqdm(clean_df_sample.iterrows(), total=clean_df_sample.shape[0]):
    user = clean_df_sample['src'][index]
    clean_df_sample.loc[(clean_df_sample['src'] == user, 'neighbours')] = len(clean_df_sample[clean_df_sample['src'] == user])
    clean_df_sample.loc[(clean_df_sample['cluster_equal'] == True) & (clean_df_sample['src'] == user), 'neighbours_cluster'] = len(clean_df_sample.loc[((clean_df_sample['cluster_equal'] == True) & (clean_df_sample['src'] == user))])
    clean_df_sample.loc[(clean_df_sample['cluster_equal'] == False) & (clean_df_sample['src'] == user), 'neighbours_!cluster'] = len(clean_df_sample.loc[((clean_df_sample['cluster_equal'] == False) & (clean_df_sample['src'] == user))])

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2160/2160 [00:12<00:00, 174.11it/s]

In [63]:
clean_df_sample.to_csv('Adjacency_Matrix_Output_Sample.csv')

# Adj_Mat profiling report

In [5]:
adj_mat = pd.read_csv('Adjacency_Matrix_Output.csv')

In [3]:
profile = ProfileReport(adj_mat, title="PR", explorative=True)

In [5]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\Christian\Documents\coding\anaconda3\envs\coins\lib\site-packages\scipy\stats\stats.py:4812: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

TraitError: n_rows and n_columns must be positive integer

In [7]:
profile.to_file("adj_matrix_report_2.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Adding Currency/Query

In [55]:
adj_mat

,date,src,dst,cluster_src,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,cluster_dst,cluster_equal,neighbours_!cluster,neighbours_cluster
0,2021-10-24,tbwhale_,greatbuy2012,C7,1,0,1,1.0,0.275957,0.157666,6.002466,2,C7,True,0,2
1,2021-10-24,leerzeit,terry_twatter,C7,0,1,1,-1.0,NaN,NaN,NaN,183,C7,True,10,173
2,2021-10-24,leerzeit,neptune_xrp,C7,0,1,1,-1.0,NaN,NaN,NaN,183,C7,True,10,173
3,2021-10-24,twitsforbrains1,ivo_psd,C7,1,0,1,1.0,0.672842,0.289887,6.478566,3,C7,True,0,3
4,2021-10-24,garygensler,moonboyp,C7,0,1,1,-1.0,NaN,NaN,NaN,28,C7,True,1,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215631,2021-12-26,sol_kusanagi,dan_lisf1227,C5,1,0,1,1.0,NaN,NaN,NaN,6,C5,True,0,6
215632,2021-12-26,dmsbigwin,dogevillage_bsc,C7,1,0,1,1.0,0.526479,0.239496,6.140440,2,C7,True,0,2
215633,2021-12-26,sol_lanas,[twitter_query=sol],C7,1,1,2,0.0,0.149759,0.206458,8.186328,2,C7,True,0,2
215634,2021-12-26,bella2021hell,[twitter_query=sol],C7,1,1,2,0.0,0.049112,0.227122,6.826575,3,C7,True,1,2
215635,2021-12-26,officialnovixel,coinkit_,C7,2,0,2,1.0,0.929720,0.333058,5.977229,104,C7,True,6,98

In [56]:
user_df_query

                     id              src cluster_dst twitter_query
0       arunkum74386518  arunkum74386518          C0           SOL
2          basquetetv19     basquetetv19          C0          LINK
4          cinstitutano     cinstitutano          C0           SOL
5           corykanexxx      corykanexxx          C0          LINK
6         echinopsis128    echinopsis128          C0          SHIB
...                 ...              ...         ...           ...
150268       liqmahbalz       liqmahbalz          C9           BTC
150269   fabian84630991   fabian84630991          C9           BTC
150270       mehrzad_aa       mehrzad_aa          C9           BTC
150271      satoshibles      satoshibles          C9           BTC
150272       expocoruna       expocoruna          C9           SOL

[74099 rows x 4 columns]

In [ ]:
user_df_query = user_df.merge(time_series_all[['id', 'twitter_query']], left_on='id', right_on='id', how='left').drop_duplicates()

In [57]:
adj_mat_query = adj_mat.merge(user_df_query[['id', 'twitter_query']], left_on='dst', right_on='id', how='left').drop('id', axis=1)

# Preprocessing

In [82]:
adj_mat_edit = adj_mat.copy()

In [83]:
adj_mat_edit['neighbours_!cluster_edit'] = 0
adj_mat_edit['neighbours_cluster_edit'] = 0

In [84]:
adj_mat_edit.loc[(adj_mat_edit['neighbours_cluster'] != 0), 'neighbours_!cluster_edit'] = adj_mat_edit.loc[(adj_mat_edit['neighbours_cluster'] != 0), 'neighbours'] - adj_mat_edit.loc[(adj_mat_edit['neighbours_cluster'] != 0), 'neighbours_cluster'] 
adj_mat_edit.loc[(adj_mat_edit['neighbours_cluster'] == 0), 'neighbours_!cluster_edit'] = adj_mat_edit.loc[(adj_mat_edit['neighbours_cluster'] == 0), 'neighbours_!cluster']

In [85]:
col_num = ["neighbours", "neighbours_cluster", "neighbours_!cluster", "neighbours_cluster_edit", "neighbours_!cluster_edit"]
adj_mat_edit[col_num] = adj_mat_edit[col_num].apply(pd.to_numeric)

In [86]:
adj_mat_edit.loc[(adj_mat_edit['neighbours_!cluster'] == 0), 'neighbours_cluster_edit'] = adj_mat_edit.loc[(adj_mat_edit['neighbours_!cluster'] == 0), 'neighbours'] - adj_mat_edit.loc[(adj_mat_edit['neighbours_!cluster'] == 0), 'neighbours_!cluster_edit']
adj_mat_edit.loc[(adj_mat_edit['neighbours_cluster'] == 0), 'neighbours_cluster_edit'] = adj_mat_edit.loc[(adj_mat_edit['neighbours_cluster'] == 0), 'neighbours'] - adj_mat_edit.loc[(adj_mat_edit['neighbours_cluster'] == 0), 'neighbours_!cluster_edit']

In [87]:
adj_mat_edit = adj_mat_edit.drop(columns=['neighbours_cluster', 'neighbours_!cluster'])
adj_mat_edit = adj_mat_edit.rename(columns={'neighbours_!cluster_edit':'neighbours_!cluster',
                                            'neighbours_cluster_edit':'neighbours_cluster'})

In [88]:
adj_mat_edit['date'] = pd.to_datetime(adj_mat_edit['date'])
adj_mat_edit = adj_mat_edit.sort_values('date').set_index('date')
adj_mat_edit = adj_mat_edit.loc['2021-10-24':'2021-12-26']
adj_mat_edit

,src,dst,cluster_src,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,cluster_dst,cluster_equal,neighbours_!cluster,neighbours_cluster
date,,,,,,,,,,,,,,,
2021-10-24,tbwhale_,greatbuy2012,C7,1,0,1,1.0,0.275957,0.157666,6.002466,2,C7,True,0,2
2021-10-24,leerzeit,terry_twatter,C7,0,1,1,-1.0,NaN,NaN,NaN,183,C7,True,10,173
2021-10-24,leerzeit,neptune_xrp,C7,0,1,1,-1.0,NaN,NaN,NaN,183,C7,True,10,173
2021-10-24,twitsforbrains1,ivo_psd,C7,1,0,1,1.0,0.672842,0.289887,6.478566,3,C7,True,0,3
2021-10-24,garygensler,moonboyp,C7,0,1,1,-1.0,NaN,NaN,NaN,28,C7,True,1,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-26,sol_kusanagi,dan_lisf1227,C5,1,0,1,1.0,NaN,NaN,NaN,6,C5,True,0,6
2021-12-26,dmsbigwin,dogevillage_bsc,C7,1,0,1,1.0,0.526479,0.239496,6.140440,2,C7,True,0,2
2021-12-26,sol_lanas,[twitter_query=sol],C7,1,1,2,0.0,0.149759,0.206458,8.186328,2,C7,True,0,2
2021-12-26,bella2021hell,[twitter_query=sol],C7,1,1,2,0.0,0.049112,0.227122,6.826575,3,C7,True,1,2
2021-12-26,officialnovixel,coinkit_,C7,2,0,2,1.0,0.929720,0.333058,5.977229,104,C7,True,6,98

# Add currency

In [ ]:
adj_mat_query = adj_mat_edit.merge(user_df_query[['id', 'twitter_query']], left_on='dst', right_on='id', how='left').drop('id', axis=1)

In [66]:
adj_mat_query

,date,src,dst,cluster_src,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,cluster_dst,cluster_equal,neighbours_!cluster,neighbours_cluster,twitter_query
0,2021-10-24,tbwhale_,greatbuy2012,C7,1,0,1,1.0,0.275957,0.157666,6.002466,2,C7,True,0,2,ETH2
1,2021-10-24,leerzeit,terry_twatter,C7,0,1,1,-1.0,NaN,NaN,NaN,183,C7,True,10,173,ETH2
2,2021-10-24,leerzeit,neptune_xrp,C7,0,1,1,-1.0,NaN,NaN,NaN,183,C7,True,10,173,ETH2
3,2021-10-24,twitsforbrains1,ivo_psd,C7,1,0,1,1.0,0.672842,0.289887,6.478566,3,C7,True,0,3,ETH2
4,2021-10-24,garygensler,moonboyp,C7,0,1,1,-1.0,NaN,NaN,NaN,28,C7,True,1,27,ETH2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271687,2021-12-26,sol_kusanagi,dan_lisf1227,C5,1,0,1,1.0,NaN,NaN,NaN,6,C5,True,0,6,SOL
271688,2021-12-26,dmsbigwin,dogevillage_bsc,C7,1,0,1,1.0,0.526479,0.239496,6.140440,2,C7,True,0,2,DOGE
271689,2021-12-26,sol_lanas,[twitter_query=sol],C7,1,1,2,0.0,0.149759,0.206458,8.186328,2,C7,True,0,2,SOL
271690,2021-12-26,bella2021hell,[twitter_query=sol],C7,1,1,2,0.0,0.049112,0.227122,6.826575,3,C7,True,1,2,SOL
271691,2021-12-26,officialnovixel,coinkit_,C7,2,0,2,1.0,0.929720,0.333058,5.977229,104,C7,True,6,98,SHIB

# File saving

In [81]:
adj_mat_edit

,src,dst,cluster_src,mes_sent,mes_received,mes_total,contr_index,sentiment_avg,emoti_avg,compl_avg,neighbours,cluster_dst,cluster_equal,neighbours_!cluster,neighbours_cluster
date,,,,,,,,,,,,,,,
2014-04-20,fenerbahce,[twitter_query=sol],C7,1,1,2,0.0,0.895096,0.266315,9.767110,1,C7,True,0,1
2014-04-20,[twitter_query=sol],fenerbahce,C7,1,1,2,0.0,NaN,NaN,NaN,7750,C7,True,452,7298
2018-03-10,besiktas,[twitter_query=sol],C7,1,1,2,0.0,0.645656,0.148896,6.264551,1,C7,True,0,1
2018-03-10,[twitter_query=sol],besiktas,C7,1,1,2,0.0,NaN,NaN,NaN,7750,C7,True,452,7298
2021-04-06,[twitter_query=sol],gem_detecter,C7,1,1,2,0.0,NaN,NaN,NaN,7750,C7,True,452,7298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-26,sol_kusanagi,dan_lisf1227,C5,1,0,1,1.0,NaN,NaN,NaN,6,C5,True,0,6
2021-12-26,dmsbigwin,dogevillage_bsc,C7,1,0,1,1.0,0.526479,0.239496,6.140440,2,C7,True,0,2
2021-12-26,sol_lanas,[twitter_query=sol],C7,1,1,2,0.0,0.149759,0.206458,8.186328,2,C7,True,0,2
2021-12-26,bella2021hell,[twitter_query=sol],C7,1,1,2,0.0,0.049112,0.227122,6.826575,3,C7,True,1,2
2021-12-26,officialnovixel,coinkit_,C7,2,0,2,1.0,0.929720,0.333058,5.977229,104,C7,True,6,98

In [79]:
adj_mat_edit.to_csv('Adjacency_Matrix_Output.csv')

In [80]:
adj_mat_edit.sample(frac=0.1).to_csv('Adjacency_Matrix_Output_Sample.csv')

In [65]:
adj_mat_query.to_csv('Adjacency_Matrix_Output_Currency.csv')