In [1]:
import pandas as pd

In [2]:
user_to_user_time_series = pd.read_csv('KeyWords_New/user_to_user_time_series_All.csv', index_col='Unnamed: 0')

In [3]:
df = user_to_user_time_series.copy()
df = df[df['src'] != df['dst']]

In [4]:
del sample_df

NameError: name 'sample_df' is not defined

In [11]:
sample_df = df.sample(frac=0.01)
sample_df

,dst,src,messages_sent,messages_received,messages_total,contribution_index,start_time_,end_time_,sentiment_avg,emotionality_avg,complexity_avg
38147,ezra1015,dijaminasik,0,1,1,-1.0,2021-12-05 00:00:00,2021-12-06 00:00:00,NaN,NaN,NaN
6280,_ahkii_,byoruuuu,0,1,1,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,NaN,NaN,NaN
127880,ninknft,nmskar_n,1,0,1,1.0,2021-11-29 00:00:00,2021-11-30 00:00:00,NaN,NaN,NaN
19403,btc21145614,criptomussama,0,1,1,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,NaN,NaN,NaN
3436,turkmenbey,cyriptoman4,0,6,6,-1.0,2021-11-07 00:00:00,2021-11-08 00:00:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
50010,kyoko_tnhs2,uraakaneshuhei,1,0,1,1.0,2021-10-31 00:00:00,2021-11-01 00:00:00,NaN,NaN,NaN
329648,sangatizart,pdigitalart,0,1,1,-1.0,2021-12-12 00:00:00,2021-12-13 00:00:00,NaN,NaN,NaN
209951,monkey_caz,guadalupe_ggc10,1,0,1,1.0,2021-12-12 00:00:00,2021-12-13 00:00:00,NaN,NaN,NaN
347267,sol_dix,fxrsb7,1,0,1,1.0,2021-11-14 00:00:00,2021-11-15 00:00:00,0.319989,0.119159,10.772301
299778,adeeyowaliu,adeeyo_ibrahim,0,1,1,-1.0,2021-12-05 00:00:00,2021-12-06 00:00:00,NaN,NaN,NaN

In [30]:
for rows, index in sample_df.iterrows():
    print(rows)

38147
6280
127880
19403
3436
106402
22430
83698
128787
28476
194160
386115
228798
342112
346244
282650
12023
279983
4433
295003
208517
291482
129467
148746
290053
109983
44216
127512
379491
8650
80784
15763
146687
277372
102830
271414
362614
71264
385527
270996
352342
270657
184213
375626
38388
114578
147852
284596
345054
379280
21590
312577
237939
4078
253478
4031
307865
383479
144887
104565
9711
14290
71085
293431
229817
8557
79124
29666
268404
381830
128489
292259
341075
46991
34787
180475
5252
637
251088
59208
16490
171640
139429
72022
40643
324386
85416
363661
84698
287392
14341
317176
274696
85108
193114
90732
295966
354759
52750
189245
115253
273283
290095
126164
88526
108524
359516
79097
237662
202713
165028
379675
74343
8197
22722
78964
7615
87147
112914
318965
353230
298927
8968
75275
78058
266747
281730
384858
138802
382267
100266
92479
234463
135906
44828
172065
95793
119660
93783
262919
79986
19747
43706
37441
370604
9394
51656
145887
161353
163116
102959
129985
300136
15673
321979
282246
310266
25031
357632
372534
6008
100654
46829
299653
183542
146291
6895
366627
33139
365994
3315
11736
32408
368076
100865
85961
268222
278820
334020
124501
335643
179784
22888
135355
387468
117991
116106
95150
112245
231714
292356
162391
17664
340519
22762
260591
72160
179778
5240
307634
241001
343020
85619
18811
64346
341371
69052
348725
40137
279516
7001
368688
98656
147437
75647
179577
77776
362714
296911
276998
25232
339441
110080
78459
275211
91454
282462
54331
257700
288557
274494
29374
6286
241145
348400
223201
19280
321147
111386
2475
155651
268239
299780
336637
60192
333464
87322
260848
7446
342448
359077
296350
151844
39042
168302
478
128098
19967
298918
70995
348755
70404
338949
146559
230369
35475
25415
318155
117529
63966
359211
283820
55664
66769
133344
291340
358038
343593
2971
17831
157358
286334
295904
332511
2371
190909
359205
128437
43895
63193
263367
384058
10380
329654
134452
49932
287517
110271
85452
344270
133325
233272
135941
34183
276804
231816
143630
354564
47515
289928
114599
18191
23997
265105
18661
291514
68312
353639
359274
102633
40757
93730
148801
250591
108019
274092
352737
25059
347191
70722
5593
77889
25230
146274
105829
12613
104961
296753
279130
2896
367905
362589
32429
129
166630
27071
36318
66961
77854
54372
282350
74634
312275
348907
341412
302516
263834
117161
201250
277056
96840
139758
247182
7041
90278
302592
364130
51288
109538
283231
245476
127062
92738
294820
326361
44334
94343
379281
77097
372832
280313
132675
390403
41107
2846
111236
113585
363284
7254
135122
318432
304855
104791
389931
374629
118861
113807
98245
346567
384563
98230
346637
81236
820
123599
322421
32035
16873
38531
144466
75855
63783
348139
134556
96728
68552
303944
312747
384085
296769
45884
365100
315862
24445
43458
30428
41150
73091
192949
102732
102609
46050
12184
323235
310231
227163
126711
122224
271459
33152
31188
41014
13744
331825
51265
279626
244493
120980
154248
91988
335554
15375
16872
143132
292372
309366
95952
35502
151923
277404
96833
112788
68589
144316
68205
24226
295901
302939
25849
4503
136411
13809
145127
173158
380915
60890
22716
355295
269637
46260
347464
35920
96962
289883
324827
234529
363094
277178
372071
387581
13769
125796
335313
249409
362688
63114
46240
193256
25864
127572
348105
347103
102497
77879
71617
340206
96817
56302
362335
54118
98057
309040
113370
112069
133763
295865
28088
70832
360115
162662
161536
173933
25389
14715
279694
190146
240834
127048
69131
20047
384766
141180
20635
75210
146311
159392
350864
273092
121439
20145
82805
364847
4689
274311
193085
352007
279820
110742
65899
97415
350120
292917
126869
123341
382011
274793
273537
35603
346338
285499
135684
27408
208263
52605
119524
334489
278032
100145
358527
67412
129276
322752
39797
5009
68807
347287
7635
137164
327159
92390
102391
67106
355338
389108
279703
321843
45842
51131
114141
320063
2284
60265
145943
102595
124167
82036
89211
50989
305407
150027
299667
96545
71746
95010
297257
51364
289851
293683
73540
98881
48244
77117
114571
281590
5928
27863
287988
184485
106247
36090
137862
45540
124164
348447
132567
102850
34796
68643
203742
366316
198319
210338
355139
3418
299825
11106
16735
277458
215355
268397
351490
350541
279023
82374
83477
326304
348412
22629
128157
27378
29655
160762
20352
384929
127957
57228
315373
368188
249360
8092
308384
99836
101012
357453
74932
92882
337904
102537
91301
188001
148946
114710
322027
120958
370191
101824
361543
96061
378820
101313
132879
57319
17495
127627
122791
367890
324530
118137
300049
387558
120913
19128
120155
279875
288501
172262
39499
353009
351102
653
103017
149015
380567
29339
8200
316670
30068
134709
1283
11511
14814
286894
324339
58320
165033
313606
150390
311251
73802
348913
26592
32729
199280
283861
378362
329307
41237
77197
381346
160053
354705
166747
363830
133239
301386
243389
91221
308791
55831
297693
347780
130467
20905
4257
185238
274175
126146
48628
371461
281549
306891
276663
127705
336928
344248
62714
281326
340459
7344
5312
282473
43152
369385
81421
187377
338393
384644
237020
147937
46684
105335
30790
137006
79066
313690
345015
127052
358453
143380
372702
121424
345983
46523
109895
62693
266833
118592
300048
169070
178655
95850
40316
346314
96438
375983
110397
253696
259591
306106
283995
182953
358355
294995
253566
33020
361260
116193
327306
168626
278735
40267
61950
108605
48149
26512
306138
35983
374918
327177
146812
18006
268708
164665
314388
245082
62645
215109
26061
7595
327894
390028
285541
34602
4340
26908
8217
204822
329817
165668
353274
346801
83513
44949
378930
360905
106774
86167
303475
357039
64765
38773
192757
372400
21764
315927
42006
163270
194776
134322
361216
344499
59473
144663
3936
128291
123001
275992
271132
68069
220991
266296
217509
70343
346691
272518
48559
82644
334196
334496
77367
63705
296638
365179
39207
24411
43651
101690
263143
173338
38210
42361
122801
94065
319854
182442
75218
1727
172076
282663
18781
331252
35698
83090
2107
69342
92641
383932
229539
282866
45667
117268
259316
19349
114855
213084
23368
63811
253953
111591
88027
321666
242825
272463
49016
31069
54552
210283
92509
98168
286238
177068
82399
162439
274694
105560
314942
178964
103028
69828
279863
342471
310429
203990
84127
51900
122986
373217
101388
275870
197646
148900
297301
148694
130784
64948
358082
125251
163515
15473
48403
106730
70761
110390
68229
37079
65443
47784
218190
268196
289499
373507
336904
9529
388472
297423
78423
11962
151409
32998
122541
126717
14644
70501
93941
306616
369414
179152
4805
66269
245956
212028
63067
41127
50010
329648
209951
347267
299778

In [7]:

for rows, index in sample_df.iterrows():
    sample_df = sample_df.append(sample_df[sample_df['src'] == df['dst'][rows]])

In [60]:
d = ['monkey_caz', 'sol_dix', 'adeeyowaliu', 'guadalupe_ggc10', 'fxrsb7', 'adeeyo_ibrahim']
small_df = pd.DataFrame(columns=d, index=d).fillna(0)
small_df

,monkey_caz,sol_dix,adeeyowaliu,guadalupe_ggc10,fxrsb7,adeeyo_ibrahim
monkey_caz,0,0,0,0,0,0
sol_dix,0,0,0,0,0,0
adeeyowaliu,0,0,0,0,0,0
guadalupe_ggc10,0,0,0,0,0,0
fxrsb7,0,0,0,0,0,0
adeeyo_ibrahim,0,0,0,0,0,0

In [61]:
adj_mat = small_df.copy()

In [62]:
for rows, index in adj_mat.iterrows():
    print(rows)

monkey_caz
sol_dix
adeeyowaliu
guadalupe_ggc10
fxrsb7
adeeyo_ibrahim

In [68]:
dst = sample_df[sample_df['src'] == 'guadalupe_ggc10']['dst']
dst.get_value()

AttributeError: 'Series' object has no attribute 'get_value'

In [64]:
adj_mat['monkey_caz']['guadalupe_ggc10'] = 1

In [65]:
adj_mat

,monkey_caz,sol_dix,adeeyowaliu,guadalupe_ggc10,fxrsb7,adeeyo_ibrahim
monkey_caz,0,0,0,0,0,0
sol_dix,0,0,0,0,0,0
adeeyowaliu,0,0,0,0,0,0
guadalupe_ggc10,1,0,0,0,0,0
fxrsb7,0,0,0,0,0,0
adeeyo_ibrahim,0,0,0,0,0,0

In [100]:
for rows, index in adj_mat.iterrows():
    dst = sample_df[sample_df['dst'] == rows]['src'].values[0]
    adj_mat[dst][rows] = 1
    print(rows)

monkey_caz
sol_dix
adeeyowaliu

IndexError: index 0 is out of bounds for axis 0 with size 0

In [97]:
sample_df[sample_df['dst'] == 'adeeyowaliu']['src'].values

array(['adeeyo_ibrahim'], dtype=object)

In [73]:
sample_df[sample_df['src'] == rows]

,dst,src,messages_sent,messages_received,messages_total,contribution_index,start_time_,end_time_,sentiment_avg,emotionality_avg,complexity_avg
299778,adeeyowaliu,adeeyo_ibrahim,0,1,1,-1.0,2021-12-05 00:00:00,2021-12-06 00:00:00,NaN,NaN,NaN

In [99]:
adj_mat

,monkey_caz,sol_dix,adeeyowaliu,guadalupe_ggc10,fxrsb7,adeeyo_ibrahim
monkey_caz,0,0,0,0,0,0
sol_dix,0,0,0,0,0,0
adeeyowaliu,0,0,0,0,0,0
guadalupe_ggc10,1,0,0,0,0,0
fxrsb7,0,0,0,0,0,0
adeeyo_ibrahim,0,0,0,0,0,0

3436    turkmenbey
Name: dst, dtype: object

In [ ]:
adj_mat[dst][rows]